#container11 {

    &__background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    background-image: url("../../assets/images/footer.jpg");
    background-size: cover;
    }  

    &__contact{
      display: flex; 
      flex-direction: row;
      margin-bottom: -15px;
    }

    &__profile{
      width: 50%; 
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      padding-left: 80px; 
    }

    &__photo {
      display: flex; 
      justify-content: center; 
      margin-top: 30px; 
      padding-left: 50px; 
      img{
        width: 350px; 
        height: auto;
        border-radius: 400px; 
        border: 2px solid rgb(55, 134, 252);
      }
    }

    &__links{
      display: flex; 
      flex-direction: row; 
      padding-top: 10px; 
      img{
        width: 30px; 
        height: 30px;
      }
    }

    &__pdf {
      display: flex; 
      flex-direction: column; 
      a {
        padding-top: 25px; 
        padding-left: 200px;
        button {
          width: 120px; 
          height: 50px; 
          border-radius: 50px; 
          border: 1px solid rgb(55, 134, 252);
          font-family: monaco, Consolas, Lucida Console, monospace; 
          background-color: black;
          color: white; 
          cursor: pointer; 
        }

        button:hover{
          animation: bounce3 2.0s;
        }
      }
    }
    @keyframes bounce3 {
      20% {
        transform: translateY(-3px);
      }
      40% {
        transform: translateY(0px);
      }
      60% {
        transform: translateY(-1px);
      }
      80% {
        transform: translateY(0px);
      }
  }

    &__src div{
      display: flex; 
      flex-direction: row;
      padding-left: 25px; 
      padding-top: 10px; 
      align-items: center; 
      p{
        font-size: 14px; 
        color: white; 
        padding-left: 10px; 
      }
    }

    &__forms{
      width: 50%;
      display: flex;
      justify-content: center;  
      padding-right: 80px; 
    }

    &__form{
      display: flex; 
      flex-direction: column;
      border:1px solid gray;
      background-color: gray;
      border-radius: 10px;
      margin-top: 25px; 
      margin-bottom: -500px; 
      width: 440px; 
      height: 425px; 
      font-size: 16px;
    }

    &__first, &__last, &__email{
        display: flex; 
        flex-direction: column; 
        border-radius:3px;
        border:1px solid gray;
        background-color: gray;
        width:400px;
        margin-top: 10px;
        margin-left: 15px; 
        input {
          margin-left: 5px; 
          margin-top: 5px;
          height: 26px; 
          font-size: 12px;
          padding-left: 5px; 
          font-family: monaco, Consolas, Lucida Console, monospace;
        }
    }

    &__submit {
        border-radius:5px;
        border:1px solid black;
        color: white;
        background-color: black;
        width: 87%; 
        height: 30px; 
        margin-top: 10px; 
        margin-bottom: 12px;
        margin-left: 25px; 
        input{
            width: 100%;
            border:1px solid black;
            color: white;
            background-color: black;
            font-size: 14px; 
            margin-top: 5px; 
            cursor: pointer; 
        }
    }

    &__message {
      margin-left: 15px; 
      margin-top: 12px;
    }

    &__area {
      width:91%;
      font-size: 12px;
      height: 120px; 
      margin-left: 5px; 
      margin-top: 5px; 
      padding-left: 5px; 
      padding-top: 5px; 
    }
}
  

#lbutton {
  color: white;
  position: absolute; 
  top: 300px; 
  left: 30px;
  font-size: 25px; 
  cursor: pointer; 
}