#container3{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-around; 
    background: transparent;
    margin-top: 70px;

    &__icon{
        background: transparent;

    img{
        width: 30px; 
        height: 30px;
        background: transparent;
    }
    img:hover{
        animation: bounce2 2.0s;
    }
    }   
    @keyframes bounce2 {
        20% {
          transform: scale(1.5);
        }
        100% {
            transform: scale(1.5);
        }
    }
}
